<HTML>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
}
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<BODY bgcolor="white">
<form method="POST" action="">
    <center>
    <H1>Enter your details </H1> <br>
	<table style="width:20%">
	<tbody>
	<tr><td>
    Name 
	</td><td>
	<input type = "text" name= "cname" /> <br>
    </td></tr>
	<tr><td>
	Price
	</td><td>
	<input type = "text" name = "cprice" /> <br>
    </td></tr>
	</tbody>
	</table>
    <input type = "submit" value="Submit">
    </center>
</form>
</BODY>
</HTML>
